@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
<br />
<br />
<br />

    <p> <a href="../Adminpanel/">
            <button type="button" class="btn btn-warning"> ToDo List App</button>
        </a>
    </p>
</div>
<br />
<br />
<br />
<br />
<div class="text-center">
    <a href="/Adminpanel/ToDo/Categories"><button type="button" class="btn btn-primary">ToDoLists</button></a>
    <a href="../Adminpanel/ToDo/Tasks"><button type="button" class="btn btn-info">Tasks Management</button></a>
    <a href="./Adminpanel/Lend"><button type="button" class="btn btn-success"> ______ </button></a>
</div>
