html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*check box style */
/* دکمه آیکونی ✔/✖ */
.toggle-done-btn {
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    border: none;
}

/* چک‌باکس سفارشی */
.custom-checkbox {
    margin-top: 3px;
}

/* نمایش یا پنهان‌سازی با کلاس */
.icon-mode {
    display: inline-block;
}

.checkbox-mode {
    display: none;
}


/*sidebar*/
@media (min-width: 992px) {
    #sidebarMenu {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        z-index: 1030;
        transform: none !important;
        visibility: visible !important;
    }

    main {
        margin-left: 250px;
    }
}
/*end sideBar*/