@using ServiceHost.Areas.Adminpanel.Pages.ToDo.Tasks.ViewModels
@model CreateTaskViewModel
@{
    ViewData["Title"] = "Add new task";
}

<div class="modal-header">
    <h5 class="modal-title">@ViewData["Title"]</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row g-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Task.Title" class="form-control" placeholder="Title" />
                    <label asp-for="Task.Title"></label>
                    <span asp-validation-for="Task.Title" class="text-danger small"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Task.Description" class="form-control" placeholder="Description" />
                    <label asp-for="Task.Description"></label>
                    <span asp-validation-for="Task.Description" class="text-danger small"></span>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-floating">
                    <select asp-for="Task.TaskListId"
                            asp-items="@(new SelectList(Model.TaskLists, "Id", "Name"))"
                            class="form-select">
                        <option value="">Select</option>
                    </select>
                    <label asp-for="Task.TaskListId" class="form-label"> </label>
                    <span asp-validation-for="Task.TaskListId" class="text-danger small"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Add Task
        </button>
    </div>
</form>
