@using ServiceHost.Areas.Adminpanel.Pages.ToDo.Tasks.ViewModels
@model EditTaskViewModel
@{
    ViewData["Title"] = "Update Task";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]: @Model.Task.Title</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form asp-page="./Index" asp-page-handler="Edit"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Task.Title" class="control-label">Title</label>
                    <input type="text" class="form-control" asp-for="Task.Title" />
                    <span asp-validation-for="Task.Title" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="Task.IsDone">
                    <input type="hidden" asp-for="Task.IsDone" />
                    <label asp-for="Task.IsDone" class="form-check-label">Is Done?</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Task.TaskListId" class="control-label">List Name</label>
                    <select class="form-control" asp-for="Task.TaskListId"
                            asp-items='new SelectList(Model.TaskLists, "Id", "Name")'>
                        <option value="">List Name</option>
                    </select>
                    <span asp-validation-for="Task.TaskListId" class="error"></span>
                </div>
            </div>
        </div>
        
        <input type="hidden" asp-for="Task.Id" value="@Model.Task.Id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Update</button>
    </div>
</form>