<div class="card">
    <ul class="card-body">
        <li>
            <a asp-page="ToDo/Index" class="waves-effect active"><i class="md md-home"></i><span> Dashbord </span></a>
        </li>
        <li>
            <a asp-page="ToDo/Categories/Index" class="waves-effect"><i class="md"></i><span> Task List  </span></a>
        </li>
        <li>
            <a asp-page="ToDo/Tasks/Index" class="waves-effect"><i class="md md"></i><span> Tasks </span></a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
