
<aside class="sidebar bg-light p-3" style="width: 250px;">
    <h4>Menu</h4>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" asp-page="ToDo/Index"> 🏠 Dashboard </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="ToDo/Categories/Index"> TaskList</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="ToDo/Tasks/Index"> Tasks </a>
        </li>
    </ul>
</aside>
