@using global::ToDo.Application.DTOs.TaskLists
@model CreateTaskListDto
@{
    ViewData["Title"] = "Add New List";
}

<div class="modal-header">
    <h4 class="modal-title">@ViewData["Title"]</h4>
    <button type="button" class="btn-close modal-close" data-bs-dismiss="modal" aria-hidden="true" aria-label="Close"></button>
</div>

<form asp-page="./Index" asp-page-handler="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name</label>
                    <input type="text" class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="error"></span>
                </div>
            </div><div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input type="text" class="form-control" asp-for="Description" />
                    <span asp-validation-for="Description" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Add</button>
    </div>
</form>
