@page
@model Areas.Adminpanel.Pages.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="pull-left page-title">Willkommen</h4>
        <ol class="breadcrumb pull-right">
            <li><a href="#">ToDo List</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>








