@page
@model             Areas.Adminpanel.Pages.IndexModel
@{
    ViewData["Title"] = "مدیریت";
}

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title">خوش آمدید</h4>
                                <ol class="breadcrumb pull-right">
                                    <li><a href="#">کتابخانه</a></li>
                                    <li class="active">داشبورد</li>
                                </ol>
                            </div>
                        </div>



                        


                      

                  